/* Styles globaux */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Contenu principal */
.content {
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto; /* Ajusté pour des marges plus petites */
}

/* Logo */
img {
    max-width: 100%;
    margin-bottom: 20px;
}

/* Formulaire */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
}

/* Styles spécifiques aux cellules du tableau */
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    white-space: nowrap;
}

input[type="text"],
input[type="tel"],
input[type="number"],
button {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #4CAF50;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-container div {
    margin-right: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Liste des résultats */
.result-list {
    margin-top: 20px;
    padding: 0;
}

.result-list li {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Media Queries pour responsive design */
@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    th::before, td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
    }

    th, td[data-label="Action"] {
        text-align: center;
    }

    .radio-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 5px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="number"],
    button {
        width: calc(100% - 20px);
    }
}
